<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzy.sport.dao.Sport_LogDao" >
  <resultMap id="BaseResultMap" type="cn.wzy.sport.entity.Sport_Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sp_name" property="spName" jdbcType="VARCHAR" />
    <result column="sp_type" property="spType" jdbcType="INTEGER" />
    <result column="sp_userid" property="spUserid" jdbcType="INTEGER" />
    <result column="sp_sportdate" property="spSportdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sp_name, sp_type, sp_userid, sp_sportdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sport_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sport_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wzy.sport.entity.Sport_Log" >
    insert into sport_log (id, sp_name, sp_type, 
      sp_userid, sp_sportdate)
    values (#{id,jdbcType=INTEGER}, #{spName,jdbcType=VARCHAR}, #{spType,jdbcType=INTEGER}, 
      #{spUserid,jdbcType=INTEGER}, #{spSportdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.wzy.sport.entity.Sport_Log" >
    insert into sport_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="spName != null" >
        sp_name,
      </if>
      <if test="spType != null" >
        sp_type,
      </if>
      <if test="spUserid != null" >
        sp_userid,
      </if>
      <if test="spSportdate != null" >
        sp_sportdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="spName != null" >
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spType != null" >
        #{spType,jdbcType=INTEGER},
      </if>
      <if test="spUserid != null" >
        #{spUserid,jdbcType=INTEGER},
      </if>
      <if test="spSportdate != null" >
        #{spSportdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wzy.sport.entity.Sport_Log" >
    update sport_log
    <set >
      <if test="spName != null" >
        sp_name = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spType != null" >
        sp_type = #{spType,jdbcType=INTEGER},
      </if>
      <if test="spUserid != null" >
        sp_userid = #{spUserid,jdbcType=INTEGER},
      </if>
      <if test="spSportdate != null" >
        sp_sportdate = #{spSportdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wzy.sport.entity.Sport_Log" >
    update sport_log
    set sp_name = #{spName,jdbcType=VARCHAR},
      sp_type = #{spType,jdbcType=INTEGER},
      sp_userid = #{spUserid,jdbcType=INTEGER},
      sp_sportdate = #{spSportdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>