<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzy.sport.dao.Role_AuthDao">
    <select id="selectByCondition" parameterType="org.cn.wzy.query.BaseQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role_auth
        <include refid="condition"/>
        <include refid="order"/>
        <include refid="limit"/>
    </select>
    <select id="selectCountByCondition" parameterType="org.cn.wzy.query.BaseQuery" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM role_auth
        <include refid="condition"/>
    </select>
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="false">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT into role_auth
            (ro_urlid,ro_allowrole)
            VALUES
            (#{item.roUrlid,jdbcType=INTEGER},#{item.roAllowrole,jdbcType=INTEGER})
        </foreach>
    </insert>
    <delete id="deleteByIdsList" parameterType="java.util.List">
        DELETE FROM role_auth
        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role_auth
        WHERE id In
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="records" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*) FROM
        role_auth ro, user_auth us
        where ro.ro_urlid = us.id
        and us.us_url = #{url,jdbcType=VARCHAR}
        and ro.ro_allowrole = #{roleId,jdbcType=INTEGER}
    </select>
</mapper>