<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wzy.sport.dao.Complain_InfoDao" > 
  <sql id="condition" >
      WHERE 1 = 1 
      <if test="query.coUserid != null" >
          AND co_userid = #{query.coUserid,jdbcType=INTEGER}
      </if>
      <if test="query.coContent != null" >
          AND co_content = #{query.coContent,jdbcType=VARCHAR}
      </if>
      <if test="query.coCreatdate != null" >
          AND co_creatdate = #{query.coCreatdate,jdbcType=TIMESTAMP}
      </if>
      <if test="query.id != null" >
          AND id = #{query.id,jdbcType=INTEGER}
      </if>
  </sql>
  <sql id="order" >

  </sql>
  <sql id="limit" >
      <if test="start != null and rows != null" >
          LIMIT #{start}, #{rows}
      </if>
  </sql>
</mapper>